<!doctype html>
<html>

  <head>
    <title>HB2</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="header"></div>
      <h1>The Document</h1>
      <p class="instructions">
        Use the search bar to highlight the text in House Bill 2.
      </p>

      <h4>GENERAL ASSEMBLY OF NORTH CAROLINA</h4>
      <h4>SECOND EXTRA SESSION 2016</h4>
      <h4>SESSION LAW 2016-3</h4>
      <h4>HOUSE BILL 2</h4>

      <div class="document-text">
        <p class="no-indent">
          AN ACT TO PROVIDE FOR SINGLE-SEX MULTIPLE OCCUPANCY BATHROOM AND CHANGING FACILITIES
          IN SCHOOLS AND PUBLIC AGENCIES AND TO CREATE STATEWIDE CONSISTENCY IN REGULATION OF
          EMPLOYMENT AND PUBLIC ACCOMMODATIONS.
        </p>
        <p>
          Whereas, the North Carolina Constitution directs the General Assembly to provide for
          the organization and government of all cities and counties and to give cities and counties such
          powers and duties as the General Assembly deems advisable in Section 1 of Article VII of the
          North Carolina Constitution; and
        </p>
        <p>
          Whereas, the North Carolina Constitution reflects the importance of statewide laws
          related to commerce by prohibiting the General Assembly from enacting local acts regulating
          labor, trade, mining, or manufacturing in Section 24 of Article II of the North Carolina
          Constitution; and
        </p>
        <p>
          Whereas, the General Assembly finds that laws and obligations consistent statewide for
          all businesses, organizations, and employers doing business in the State will improve intrastate
          commerce; and
        </p>
        <p>
          Whereas, the General Assembly finds that laws and obligations consistent statewide for
          all businesses, organizations, and employers doing business in the State benefit the businesses,
          organizations, and employers seeking to do business in the State and attracts new businesses,
          organizations, and employers to the State; Now, therefore,
        </p>
        <p class="no-indent">
          The General Assembly of North Carolina enacts:
        </p>
        <p class="part-heading">
          PART I. SINGLE-SEX MULTIPLE OCCUPANCY BATHROOM AND CHANGING 24 FACILITIES
        </p>
        <p>
          <span class="section-heading">SECTION 1.1.</span> G.S. 115C-47 is amended by adding a new subdivision to read:
          "(63) To Establish Single-Sex Multiple Occupancy Bathroom and Changing
          Facilities. – Local boards of education shall establish single-sex multiple
          occupancy bathroom and changing facilities as provided in G.S. 115C-521.2."
        </p>
        <p>
          <span class="section-heading">SECTION 1.2.</span> Article 37 of Chapter 115C of the General Statutes is amended by
          adding a new section to read:
        </p>
        <p class="article-heading">
          "§ 115C-521.2. Single-sex multiple occupancy bathroom and changing facilities.
        </p>
        <ol class="top-level">
          <li>
            Definitions. – The following definitions apply in this section:
            <ol class="second-level">
              <li>
                Biological sex. – The physical condition of being male or female, which is stated on a person's birth certificate.
              </li>
              <li>
                Multiple occupancy bathroom or changing facility. – A facility designed or 36 designated to be used by more than one person at a time where students may be in various states of undress in the presence of other persons. A multiple occupancy bathroom or changing facility may include, but is not limited to, a school restroom, locker room, changing room, or shower room.
              </li>
              <li>
                Single occupancy bathroom or changing facility. – A facility designed or designated to be used by only one person at a time where students may be in various states of undress. A single occupancy bathroom or changing facility may include, but is not limited to, a single stall restroom designated as unisex or for use based on biological sex.
              </li>
            </ol>
          </li>
          <li>
            Single-Sex Multiple Occupancy Bathroom and Changing Facilities. – Local boards of education shall require every multiple occupancy bathroom or changing facility that is designated for student use to be designated for and used only by students based on their biological sex.
          </li>
          <li>
            Accommodations Permitted. – Nothing in this section shall prohibit local boards of education from providing accommodations such as single occupancy bathroom or changing facilities or controlled use of faculty facilities upon a request due to special circumstances, but in no event shall that accommodation result in the local boards of education allowing a student to use a multiple occupancy bathroom or changing facility designated under subsection (b) of this section for a sex other than the student's biological sex.
          </li>
          <li>
            Exceptions. – This section does not apply to persons entering a multiple occupancy bathroom or changing facility designated for use by the opposite sex:
            <ol class="second-level">
              <li>For custodial purposes.</li>
              <li>For maintenance or inspection purposes.</li>
              <li>To render medical assistance.</li>
              <li>To accompany a student needing assistance when the assisting individual is an employee or authorized volunteer of the local board of education or the student's parent or authorized caregiver.</li>
              <li>To receive assistance in using the facility.</li>
              <li>To accompany a person other than a student needing assistance.</li>
              <li>That has been temporarily designated for use by that person's biological sex."</li>
            </ol>
          </li>
        </ol>
        <p>
          SECTION 1.3. Chapter 143 of the General Statutes is amended by adding a new Article to read:
        </p>
        <p>
          Article 81. "Single-Sex Multiple Occupancy Bathroom and Changing Facilities.
        </p>
        <p class="article-heading">
          "§ 143-760. Single-sex multiple occupancy bathroom and changing facilities.
        </p>
        <ol>
          <li>
            Definitions. – The following definitions apply in this section:
            <ol>
              <li>
                Biological sex. – The physical condition of being male or female, which is stated on a person's birth certificate.
              </li>
              <li>
                Executive branch agency. – Agencies, boards, offices, departments, and institutions of the executive branch, including The University of North Carolina and the North Carolina Community College System.
              </li>
              <li>
                Multiple occupancy bathroom or changing facility. – A facility designed or designated to be used by more than one person at a time where persons may be in various states of undress in the presence of other persons. A multiple occupancy bathroom or changing facility may include, but is not limited to, a restroom, locker room, changing room, or shower room.
              </li>
              <li>
                Public agency. – Includes any of the following:
                <ol>
                  <li>Executive branch agencies. </li>
                  <li>All agencies, boards, offices, and departments under the direction and control of a member of the Council of State. </li>
                  <li>"Unit" as defined in G.S. 159-7(b)(15). </li>
                  <li>"Public authority" as defined in G.S. 159-7(b)(10). </li>
                  <li>A local board of education. </li>
                  <li>The judicial branch. </li>
                  <li>The legislative branch. </li>
                  <li>Any other political subdivision of the State.</li>
                </ol>
              </li>
              <li>
                Single occupancy bathroom or changing facility. – A facility designed or designated to be used by only one person at a time where persons may be in various states of undress. A single occupancy bathroom or changing facility may include, but is not limited to, a single stall restroom designated as unisex or for use based on biological sex.
              </li>
            </ol>
          </li>
          <li>
            Single-Sex Multiple Occupancy Bathroom and Changing Facilities. – Public agencies 49 shall require every multiple occupancy bathroom or changing facility to be designated for and only used by persons based on their biological sex.
          </li>
          <li>
            Accommodations Permitted. – Nothing in this section shall prohibit public agencies from providing accommodations such as single occupancy bathroom or changing facilities upon a person's request due to special circumstances, but in no event shall that accommodation result in the public agency allowing a person to use a multiple occupancy bathroom or changing facility designated under subsection (b) of this section for a sex other than the person's biological sex.
          </li>
          <li>
            Exceptions. – This section does not apply to persons entering a multiple occupancy bathroom or changing facility designated for use by the opposite sex:
            <ol>
              <li>For custodial purposes.</li>
              <li>For maintenance or inspection purposes.</li>
              <li>To render medical assistance.</li>
              <li>To accompany a student needing assistance.</li>
              <li>For a minor under the age of seven who accompanies a person caring for that minor.</li>
              <li>That has been temporarily designated for use by that person's biological sex."</li>
            </ol>
          </li>
        </ol>
        <p class="part-heading">
          PART II. STATEWIDE CONSISTENCY IN LAWS RELATED TO EMPLOYMENT AND 8 CONTRACTING
        </p>
        <p>
          <span class="section-heading">SECTION 2.1.</span> G.S. 95-25.1 reads as rewritten:
        </p>
        <p>
          "§ 95-25.1. Short title and legislative purpose; local governments preempted.
        </p>
        <ol>
          <li>
            This Article shall be known and may be cited as the "Wage and Hour Act."
          </li>
          <li>
            The public policy of this State is declared as follows: The wage levels of employees,
             hours of labor, payment of earned wages, and the well-being of minors are subjects
             of concern requiring legislation to promote the general welfare of the people of the
             State without jeopardizing the competitive position of North Carolina business and
             industry. The General Assembly declares that the general welfare of the State requires
             the enactment of this law under the police power of the State.
          </li>
          <li>
            The provisions of this Article supersede and preempt any ordinance, regulation,
            resolution, or policy adopted or imposed by a unit of local government or other
            political subdivision of the State that regulates or imposes any requirement upon
            an employer pertaining to compensation of employees, such as the wage levels of
            employees, hours of labor, payment of earned wages, benefits, leave, or well-being
            of minors in the workforce. This subsection shall not apply to any of the following:
            <ol>
              <li>A local government regulating, compensating, or controlling its own employees.</li>
              <li>Economic development incentives awarded under Chapter 143B of the General Statutes.</li>
              <li>Economic development incentives awarded under Article 1 of Chapter 158 of the General Statutes.</li>
              <li>A requirement of federal community development block grants.</li>
              <li>Programs established under G.S. 153A-376 or G.S. 160A-456."</li>
            </ol>
          </li>
        </ol>
        <p>
          <span class="section-heading">SECTION 2.2.</span> G.S. 153A-449(a) reads as rewritten:
        </p>
        <p>
          "(a) Authority. – A county may contract with and appropriate money to any person, association, or corporation, in order to carry out any public purpose that the county is authorized by law to engage in. A county may not require a private contractor under this section to abide by regulations or controls on the contractor's employment practices or mandate or prohibit the provision of goods, services, or accommodations to any member of the public as a condition of bidding on a contract or a qualification-based selection, except as otherwise required or allowed by State law."
        </p>
        <p>
          <span class="section-heading">SECTION 2.3.</span> G.S. 160A-20.1(a) reads as rewritten:
        </p>
        <p>
          "(a) Authority. – A city may contract with and appropriate money to any person, association,
          or corporation, in order to carry out any public purpose that the city is authorized by law
          to engage in. A city may not require a private contractor under this section to abide by regulations
          or controls on the contractor's employment practices or mandate or prohibit the provision of goods,
          services, or accommodations to any member of the public as a condition of bidding on a contract
          or a qualification-based selection, except as otherwise required or allowed by State law."
        </p>
        <p class="part-heading no-indent">
          PART III. PROTECTION OF RIGHTS IN EMPLOYMENT AND PUBLIC ACCOMMODATIONS
        </p>
        <p>
          <span class="section-heading">SECTION 3.1.</span> G.S. 143-422.2 reads as rewritten:
        </p>
        <p class="article-heading no-indent">
          "§ 143-422.2. Legislative declaration.
        </p>
        <ol>
          <li>
            It is the public policy of this State to protect and safeguard the right and opportunity of
            all persons to seek, obtain and hold employment without discrimination or abridgement on account
            of race, religion, color, national origin, age, biological sex or handicap by employers which
            regularly employ 15 or more employees.
          </li>
          <li>
            It is recognized that the practice of denying employment opportunity and discriminating in the
            terms of employment foments domestic strife and unrest, deprives the State of the fullest
            utilization of its capacities for advancement and development, and substantially and adversely
            affects the interests of employees, employers, and the public in general.
          </li>
          <li>
            The General Assembly declares that the regulation of discriminatory practices in employment is
            properly an issue of general, statewide concern, such that this Article and other applicable
            provisions of the General Statutes supersede and preempt any ordinance, regulation, resolution,
            or policy adopted or imposed by a unit of local government or other political subdivision of the
            State that regulates or imposes any requirement upon an employer pertaining to the regulation of
            discriminatory practices in employment, except such regulations applicable to personnel employed
            by that body that are not otherwise in conflict with State law."
          </li>
        </ol>
        <p>
          <span class="section-heading">SECTION 3.2.</span> G.S. 143-422.3 reads as rewritten:
        </p>
        <p class="article-heading">
          "§ 143-422.3. Investigations; conciliations.
        </p>
        <p>
          The Human Relations Commission in the Department of Administration shall have the authority to receive
          charges of discrimination from the Equal Employment Opportunity Commission pursuant to an agreement under
          Section 709(b) of Public Law 88-352, as amended by Public Law 92-261, and investigate and conciliate
          charges of discrimination. Throughout this process, the agency shall use its good offices to effect an
          amicable resolution of the charges of discrimination. This Article does not create, and shall not be
          construed to create or support, a statutory or common law private right of action, and no person may
          bring any civil action based upon the public policy expressed herein."
        </p>
        <p>
          <span class="section-heading">SECTION 3.3.</span> Chapter 143 of the General Statutes is amended by adding a new Article to read:
        </p>
        <p>
          "Article 49B. "Equal Access to Public Accommodations.
        </p>
        <p class="article-heading no-indent">
          "§ 143-422.10. Short title.
        </p>
        <p>
          This Article shall be known and may be cited as the Equal Access to Public Accommodations Act.
        </p>
        <p class="article-heading no-indent">
          "§ 143-422.11. Legislative declaration.
        </p>
        <ol>
          <li>
            It is the public policy of this State to protect and safeguard the right and opportunity of
            all individuals within the State to enjoy fully and equally the goods, services, facilities,
            privileges, advantages, and accommodations of places of public accommodation free of discrimination
            because of race, religion, color, national origin, or biological sex, provided that designating
            multiple or single occupancy bathrooms or changing facilities according to biological sex, as
            defined in G.S. 143-760(a)(1), (3), and (5), shall not be deemed to constitute discrimination.
          </li>
          <li>
            The General Assembly declares that the regulation of discriminatory practices in places of public
            accommodation is properly an issue of general, statewide concern, such that this Article and other
            applicable provisions of the General Statutes supersede and preempt any ordinance, regulation,
            resolution, or policy adopted or imposed by a unit of local government or other political
            subdivision of the State that regulates or imposes any requirement pertaining to the regulation
            of discriminatory practices in places of public accommodation.
          </li>
        </ol>
        <p class="article-heading no-indent">
          "§ 143-422.12. Places of public accommodation – defined.
        </p>
        <p>
          For purposes of this Article, places of public accommodation has the same meaning as defined in G.S.
          168A-3(8), but shall exclude any private club or other establishment not, in fact, open to the public.
        </p>
        <p class="article-heading no-indent">
          "§ 143-422.13. Investigations; conciliations.
        </p>
        <p>
          The Human Relations Commission in the Department of Administration shall have the authority to receive,
          investigate, and conciliate complaints of discrimination in public accommodations. Throughout this process,
          the Human Relations Commission shall use its good offices to effect an amicable resolution of the complaints
          of discrimination. This Article does not create, and shall not be construed to create or support, a statutory
          or common law private right of action, and no person may bring any civil action based upon the public policy
          expressed herein."
        </p>
        <p class="part-heading">
          PART IV. SEVERABILITY
        </p>
        <p>
          <span class="section-heading">SECTION 4.</span> If any provision of this act or its application is held invalid,
          the invalidity does not affect other provisions or applications of this act that can be given effect without the
          invalid provisions or application, and to this end the provisions of this act are severable. If any provision of
          this act is temporarily or permanently restrained or enjoined by judicial order, this act shall be enforced as
          though such restrained or enjoined provisions had not House Bill 2 Session Law 2016-3 been adopted, provided that
          whenever such temporary or permanent restraining order or injunction is stayed, dissolved, or otherwise ceases to
          have effect, such provisions shall have full force and effect.
        </p>
        <p class="part-heading">
          PART V. EFFECTIVE DATE
        </p>
        <p>
          <span class="section-heading">SECTION 5.</span> This act is effective when it becomes law and applies to any action
          taken on or after that date, to any ordinance, resolution, regulation, or policy adopted or amended on or after that
          date, and to any contract entered into on or after that date. The provisions of Sections 2.1, 2.2, 2.3, 3.1, 3.2, and
          3.3 of this act supersede and preempt any ordinance, resolution, regulation, or policy adopted prior to the effective
          date of this act that purports to regulate a subject matter preempted by this act or that violates or is not consistent
          with this act, and such ordinances, resolutions, regulations, or policies shall be null and void as of the effective
          date of this act.
        </p>
        <p>
          In the General Assembly read three times and ratified this the 23rd day of March, 2016.
        </p>
        <div class="signatures">
          <p>
            s/ Daniel J. Forest<br />President of the Senate
          </p>
          <p>
            s/ Tim Moore<br />Speaker of the House of Representatives
          </p>
          <p>
            s/ Pat McCrory<br />Governor
          </p>
        </div>
        <p>
          Approved 9:57 p.m. this 23rd day of March, 2016
        </p>
      </div>

      <div id="footer"></div>
    </div>
  </body>

</html>
