<!doctype html>
<html ng-app="myApp">

  <head>
    <title>HB2</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body ng-controller="BaseController as base">
    <div class="container">
      <div id="header"></div>
      <p>
        HB2 has caused vast amounts of public outcry for more reasons than one. The law also enables legal discrimination in state courts based on claims of race, religion, color, national origin or handicap in state courts. Although not explicitly stated, the bill does more than meets the eye.
      </p>
      <p>
        Break down HB2 by using the search bar to highlight certain aspects of the law.
      </p>
      <input type="text" placeholder="Search" ng-model="search.text"><br><br>

      <!-- with filter -->
      <div class="docText" ng-repeat="item in data" ng-bind-html="item.text | highlight:search.text"></div>
      <div id="footer"></div>
    </div>
  </div>
</body>

</html>
