<!doctype html>
<html>

  <head>
    <title>HB2</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="header"></div>
      <h1>The Document</h1>
      <p class="instructions">
        Use the search bar to highlight the text in House Bill 2.
      </p>

      <h4>GENERAL ASSEMBLY OF NORTH CAROLINA</h4>
      <h4>SECOND EXTRA SESSION 2016</h4>
      <h4>SESSION LAW 2016-3</h4>
      <h4>HOUSE BILL 2</h4>

      <div class="document-text">
        <p class="no-indent">
          AN ACT TO PROVIDE FOR SINGLE-SEX MULTIPLE OCCUPANCY BATHROOM AND CHANGING FACILITIES
          IN SCHOOLS AND PUBLIC AGENCIES AND TO CREATE STATEWIDE CONSISTENCY IN REGULATION OF
          EMPLOYMENT AND PUBLIC ACCOMMODATIONS.
        </p>
        <p>
          Whereas, the North Carolina Constitution directs the General Assembly to provide for
          the organization and government of all cities and counties and to give cities and counties such
          powers and duties as the General Assembly deems advisable in Section 1 of Article VII of the
          North Carolina Constitution; and
        </p>
        <p>
          Whereas, the North Carolina Constitution reflects the importance of statewide laws
          related to commerce by prohibiting the General Assembly from enacting local acts regulating
          labor, trade, mining, or manufacturing in Section 24 of Article II of the North Carolina
          Constitution; and
        </p>
        <p>
          Whereas, the General Assembly finds that laws and obligations consistent statewide for
          all businesses, organizations, and employers doing business in the State will improve intrastate
          commerce; and
        </p>
        <p>
          Whereas, the General Assembly finds that laws and obligations consistent statewide for
          all businesses, organizations, and employers doing business in the State benefit the businesses,
          organizations, and employers seeking to do business in the State and attracts new businesses,
          organizations, and employers to the State; Now, therefore,
        </p>
        <p class="no-indent">
          The General Assembly of North Carolina enacts:
        </p>
        <p class="part-heading">
          PART I. SINGLE-SEX MULTIPLE OCCUPANCY BATHROOM AND CHANGING 24 FACILITIES
        </p>
        <p>
          <span class="section-heading">SECTION 1.1.</span> G.S. 115C-47 is amended by adding a new subdivision to read:
          "(63) To Establish Single-Sex Multiple Occupancy Bathroom and Changing
          Facilities. – Local boards of education shall establish single-sex multiple
          occupancy bathroom and changing facilities as provided in G.S. 115C-521.2."
        </p>
        <p>
          <span class="section-heading">SECTION 1.2.</span> Article 37 of Chapter 115C of the General Statutes is amended by
          adding a new section to read:
        </p>
        <p class="article-heading">
          "§ 115C-521.2. Single-sex multiple occupancy bathroom and changing facilities.
        </p>
        <ol class="top-level">
          <li>
            Definitions. – The following definitions apply in this section:
            <ol class="second-level">
              <li>
                Biological sex. – The physical condition of being male or female, which is stated on a person's birth certificate.
              </li>
              <li>
                Multiple occupancy bathroom or changing facility. – A facility designed or 36 designated to be used by more than one person at a time where students may be in various states of undress in the presence of other persons. A multiple occupancy bathroom or changing facility may include, but is not limited to, a school restroom, locker room, changing room, or shower room.
              </li>
              <li>
                Single occupancy bathroom or changing facility. – A facility designed or designated to be used by only one person at a time where students may be in various states of undress. A single occupancy bathroom or changing facility may include, but is not limited to, a single stall restroom designated as unisex or for use based on biological sex.
              </li>
            </ol>
          </li>
          <li>
            Single-Sex Multiple Occupancy Bathroom and Changing Facilities. – Local boards of education shall require every multiple occupancy bathroom or changing facility that is designated for student use to be designated for and used only by students based on their biological sex.
          </li>
          <li>
            Accommodations Permitted. – Nothing in this section shall prohibit local boards of education from providing accommodations such as single occupancy bathroom or changing facilities or controlled use of faculty facilities upon a request due to special circumstances, but in no event shall that accommodation result in the local boards of education allowing a student to use a multiple occupancy bathroom or changing facility designated under subsection (b) of this section for a sex other than the student's biological sex.
          </li>
          <li>
            Exceptions. – This section does not apply to persons entering a multiple occupancy bathroom or changing facility designated for use by the opposite sex:
            <ol class="second-level">
              <li>For custodial purposes.</li>
              <li>For maintenance or inspection purposes.</li>
              <li>To render medical assistance.</li>
              <li>To accompany a student needing assistance when the assisting individual is an employee or authorized volunteer of the local board of education or the student's parent or authorized caregiver.</li>
              <li>To receive assistance in using the facility.</li>
              <li>To accompany a person other than a student needing assistance.</li>
              <li>That has been temporarily designated for use by that person's biological sex."</li>
            </ol>
          </li>
        </ol>
        <p>
          SECTION 1.3. Chapter 143 of the General Statutes is amended by adding a new Article to read:
        </p>
        <p>
          Article 81. "Single-Sex Multiple Occupancy Bathroom and Changing Facilities.
        </p>
        <p class="article-heading">
          "§ 143-760. Single-sex multiple occupancy bathroom and changing facilities.
        </p>
        <ol>
          <li>
            Definitions. – The following definitions apply in this section:
            <ol>
              <li>
                Biological sex. – The physical condition of being male or female, which is stated on a person's birth certificate.
              </li>
              <li>
                Executive branch agency. – Agencies, boards, offices, departments, and institutions of the executive branch, including The University of North Carolina and the North Carolina Community College System.
              </li>
              <li>
                Multiple occupancy bathroom or changing facility. – A facility designed or designated to be used by more than one person at a time where persons may be in various states of undress in the presence of other persons. A multiple occupancy bathroom or changing facility may include, but is not limited to, a restroom, locker room, changing room, or shower room.
              </li>
              <li>
                Public agency. – Includes any of the following:
                <ol>
                  <li>Executive branch agencies. </li>
                  <li>All agencies, boards, offices, and departments under the direction and control of a member of the Council of State. </li>
                  <li>"Unit" as defined in G.S. 159-7(b)(15). </li>
                  <li>"Public authority" as defined in G.S. 159-7(b)(10). </li>
                  <li>A local board of education. </li>
                  <li>The judicial branch. </li>
                  <li>The legislative branch. </li>
                  <li>Any other political subdivision of the State.</li>
                </ol>
              </li>
              <li>
                Single occupancy bathroom or changing facility. – A facility designed or designated to be used by only one person at a time where persons may be in various states of undress. A single occupancy bathroom or changing facility may include, but is not limited to, a single stall restroom designated as unisex or for use based on biological sex.
              </li>
            </ol>
          </li>
          <li>
            Single-Sex Multiple Occupancy Bathroom and Changing Facilities. – Public agencies 49 shall require every multiple occupancy bathroom or changing facility to be designated for and only used by persons based on their biological sex.
          </li>
          <li>
            Accommodations Permitted. – Nothing in this section shall prohibit public agencies from providing accommodations such as single occupancy bathroom or changing facilities upon a person's request due to special circumstances, but in no event shall that accommodation result in the public agency allowing a person to use a multiple occupancy bathroom or changing facility designated under subsection (b) of this section for a sex other than the person's biological sex.
          </li>
          <li>
            Exceptions. – This section does not apply to persons entering a multiple occupancy bathroom or changing facility designated for use by the opposite sex:
            <ol>
              <li>For custodial purposes.</li>
              <li>For maintenance or inspection purposes.</li>
              <li>To render medical assistance.</li>
              <li>To accompany a student needing assistance.</li>
              <li>For a minor under the age of seven who accompanies a person caring for that minor.</li>
              <li>That has been temporarily designated for use by that person's biological sex."</li>
            </ol>
          </li>
        </ol>
        <p class="part-heading">
          PART II. STATEWIDE CONSISTENCY IN LAWS RELATED TO EMPLOYMENT AND 8 CONTRACTING
        </p>
        <p>
          <span class="section-heading">SECTION 2.1.</span> G.S. 95-25.1 reads as rewritten:
        </p>
        <p>
          "§ 95-25.1. Short title and legislative purpose; local governments preempted.
        </p>
        <ol>
          <li>
            
          </li>
        </ol>
      </div>

      <div id="footer"></div>
    </div>
  </body>

</html>
