<!doctype html>
<html>

  <head>
    <title>Index</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <h1>This is the document</h1>

    <ul>
      <li>
        <a href="/document">Document</a>
      </li>
      <li>
        <a href="/numbers">Numbers</a>
      </li>
      <li>
        <a href="/map">Map</a>
      </li>
    </ul>
  </body>

</html>
