<!doctype html>
<html>

  <head>
    <title>Home</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="header"></div>
        <p>
          On March 23, 2016, North Carolina’s state legislature passed House Bill 2. The law passed by the General Assembly in a specially convened one-day session that occurred shortly after Charlotte passed a LGBT protection bill that accommodates for such people in “public” spaces. That same night, Gov. Pat McCrory signed the law into action. The law nullified all local legislation, meaning that Charlotte’s newly passed protections are overruled.
        </p>
        <p>
          The law, known as the “Bathroom Bill,” affects more than just restroom usage. The overarching outcome of the law restricted transgender people to use the public restroom associated with the sex printed on their birth certificate instead of that they identify with. The same goes for any pursuit of claims based on race, religion, color, national origin or handicap in state courts.
        </p>
        <p>
          HB2 has caused an outcry from more than just the LGBT community in North Carolina because it affects more than just the LGBT community.
        </p>
      <div id="footer"></div>
    </div>
  </body>

</html>
