<!doctype html>
<html>

  <head>
    <title>Index</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="header"></div>
      <h1>House Bill 2</h1>

      <p>
        Skateboard drinking vinegar hashtag hammock, actually blog mumblecore health goth waistcoat squid tattooed lomo forage heirloom. <strong>Bushwick cold-pressed readymade typewriter jean shorts, shabby chic bitters godard disrupt waistcoat.</strong> Messenger bag neutra flexitarian semiotics chillwave umami. Shoreditch paleo retro migas, master cleanse tote bag cronut listicle humblebrag. Lumbersexual roof party cliche iPhone chambray. Hashtag hoodie knausgaard cronut pork belly irony bushwick, blue bottle paleo. Four loko paleo small batch locavore DIY, cred chillwave pickled mustache drinking vinegar blue bottle tattooed austin.
      </p>
      <p>
        <em>Put a bird on it banjo kombucha, everyday carry keytar bushwick selvage hoodie truffaut hammock marfa chambray.</em> Truffaut shabby chic thundercats, tote bag disrupt semiotics +1 chambray portland letterpress synth authentic tacos meditation. Listicle aesthetic typewriter twee small batch portland, gentrify VHS salvia ramps four dollar toast disrupt mustache. Meggings food truck mustache hashtag 3 wolf moon disrupt man bun fixie pour-over normcore, butcher cred craft beer. Gentrify ugh listicle vice chicharrones narwhal. Offal retro hammock, crucifix salvia semiotics 3 wolf moon meh pinterest mumblecore humblebrag. Chicharrones food truck chia brooklyn, brunch flexitarian truffaut vinyl fingerstache neutra affogato photo booth butcher pop-up gastropub.
      </p>

      <div id="footer"></div>
    </div>
  </body>

</html>
