<!doctype html>
<html>

  <head>
    <title>Index</title>
  </head>

  <body>
    <h1>This is the numbers</h1>

    <ul>
      <li>
        <a href="/document">Document</a>
      </li>
      <li>
        <a href="/numbers">Numbers</a>
      </li>
      <li>
        <a href="/map">Map</a>
      </li>
    </ul>
  </body>

</html>
