/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@font-face {
  font-family: 'Texta';
  src: url("../assets/fonts/texta_regular/Texta-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/texta_regular/Texta-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/texta_regular/Texta-Regular-webfont.woff2") format("woff2"), url("../assets/fonts/texta_regular/Texta-Regular-webfont.woff") format("woff"), url("../assets/fonts/texta_regular/Texta-Regular-webfont.ttf") format("truetype"), url("../assets/fonts/texta_regular/Texta-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Texta Italic';
  src: url("../assets/fonts/texta_italic/Texta-Italic-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/texta_italic/Texta-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/texta_italic/Texta-Italic-webfont.woff2") format("woff2"), url("../assets/fonts/texta_italic/Texta-Italic-webfont.woff") format("woff"), url("../assets/fonts/texta_italic/Texta-Italic-webfont.ttf") format("truetype"), url("../assets/fonts/texta_italic/Texta-Italic-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Texta Bold';
  src: url("../assets/fonts/texta_bold/Texta-Bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/texta_bold/Texta-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/texta_bold/Texta-Bold-webfont.woff2") format("woff2"), url("../assets/fonts/texta_bold/Texta-Bold-webfont.woff") format("woff"), url("../assets/fonts/texta_bold/Texta-Bold-webfont.ttf") format("truetype"), url("../assets/fonts/texta_bold/Texta-Bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* General */
.container {
  background-color: white;
  padding: 50px;
}

img {
  width: 100%;
}

body {
  font-family: 'Texta', sans-serif;
  font-size: 14pt;
  color: #141414;
  background-color: #f6f1ed;
}

a {
  color: #141414;
}

a:hover {
  text-decoration: none;
  color: #963019;
}

em {
  font-family: 'Texta Italic', sans-serif;
  font-style: italic;
}

strong {
  font-family: 'Texta Bold', sans-serif;
  font-weight: 700;
}

::selection {
  background: #E4B648;
  /* Webkit browers */
}

::-moz-selection {
  background: #E4B648;
  /* Gecko browsers */
}

input[type="text"]:focus {
  outline: none;
}

input {
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-top: 24px;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  text-align: center;
}

.header-subtitle {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  font-size: 20pt;
  margin-bottom: 24px;
}

.menu {
  margin-bottom: 24px;
}

.menu ul {
  list-style-type: none;
  margin: 0 auto;
  display: block;
  width: 400px;
}

.menu li {
  display: inline-block;
}

.menu li:nth-of-type(2) {
  margin: 0 8px;
}

.menu li:nth-of-type(2):before {
  content: ' | ';
  margin-right: 14px;
}

.menu li:nth-of-type(3) {
  margin: 0 8px;
}

.menu li:nth-of-type(3):before {
  content: ' | ';
  margin-right: 14px;
}

.menu li:nth-of-type(4) {
  margin: 0 8px;
}

.menu li:nth-of-type(4):before {
  content: ' | ';
  margin-right: 14px;
}

/* DOCUMENT PAGE SPECIFIC STYLES */
.highlighted {
  background: #FEC44F;
  font-weight: 700;
}

.docText {
  font-size: 12pt;
}

.docText h4 {
  font-size: 12pt !important;
}

.document-text p {
  text-indent: 35px;
}

.document-text .no-indent {
  text-indent: 0 !important;
}

.document-text .part-heading,
.document-text .section-heading {
  text-transform: uppercase;
  font-weight: 700;
}

.document-text .article-heading {
  font-weight: 700;
  text-decoration: underline;
}

.document-text ol {
  counter-reset: list;
}

.document-text ol > li {
  list-style: none;
}

.document-text ol > li:before {
  content: "(" counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.document-text .second-level ol > li:before {
  content: "(" counter(list, decimal) ") ";
  counter-increment: list;
}

.states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.75px;
}

#container {
  margin: 2%;
  padding: 20px;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
}

/* MAP PAGE SPECIFIC STYLES */
#map svg {
  display: block;
  margin: 0 auto;
}

path.state {
  stroke: #000 !important;
}

#legend {
  padding: 1.5em 0 0 1.5em;
}

li.key {
  border-top-width: 15px;
  border-top-style: solid;
  font-size: 0.65em;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 765px) {
  li.key {
    font-size: 0.40em;
  }
}

@media (max-width: 767px) {
  li.key {
    display: none;
  }
  .legend-key {
    font-size: 0.6em;
  }
}

/* TIMELINE SPECIFIC STYLES */
.legend-img {
  width: 200px;
  display: block;
  width: 200px;
  float: right;
  margin-left: 20px;
  padding-right: 35px;
}

@media (max-width: 767px) {
  #timeline, .legend-img {
    display: none;
  }
}

@media (min-width: 992px) {
  .legend-img {
    display: none;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .legend-img {
    display: block;
    width: 200px;
    float: right;
    margin-left: 20px;
    padding-right: 35px;
  }
  .legend-svg {
    display: none;
  }
}

svg {
  display: block;
  margin: 0 auto;
}

.timeline .tick {
  font-size: 12px;
}

.timeline .axis path,
.timeline .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.timeline circle {
  stroke: #000;
  cursor: pointer;
}

.timeline .tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  pointer-events: none;
}

.timeline .y {
  display: none !important;
}

.footer {
  margin: 24px 0;
}

.footer p {
  margin: 0;
  color: #777;
  font-size: 11px;
  text-align: center;
}

.footer a {
  color: #777;
}

.footer a:hover {
  color: #777;
  text-decoration: underline;
}

@media (max-width: 766px) {
  .legend-svg {
    display: none !important;
  }
}
