/* Fonts */
@font-face {
  font-family: 'Texta';
  src: url('../assets/fonts/texta_regular/Texta-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/texta_regular/Texta-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/texta_regular/Texta-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/texta_regular/Texta-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/texta_regular/Texta-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/texta_regular/Texta-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Texta Italic';
  src: url('../assets/fonts/texta_italic/Texta-Italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/texta_italic/Texta-Italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/texta_italic/Texta-Italic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/texta_italic/Texta-Italic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/texta_italic/Texta-Italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/texta_italic/Texta-Italic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Texta Bold';
  src: url('../assets/fonts/texta_bold/Texta-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/texta_bold/Texta-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/texta_bold/Texta-Bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/texta_bold/Texta-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/texta_bold/Texta-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/texta_bold/Texta-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);

//colors
$blue: #2c3e50;
$red: #963019;
$white: #f6f1ed;
$green: #667467;
$yellow: #E4B648;
$black: #141414;

/* General */
h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}

body {
  font-family: 'Texta', sans-serif;
  font-size: 15pt;
  color: $black;
}

em {
  font-family: 'Texta Italic', sans-serif;
  font-style: italic;
}

strong {
  font-family: 'Texta Bold', sans-serif;
  font-weight: 700;
}

::selection {
  background: #E4B648; /* Webkit browers */
}

::-moz-selection {
  background: #E4B648; /* Gecko browsers */
}

.menu {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }
}

/* DOCUMENT PAGE SPECIFIC STYLES */

.highlighted {
  background: $yellow;
  font-weight: 700;
}

.document-text {
  p {
    text-indent: 35px;
  }

  .no-indent {
    text-indent: 0px !important;
  }

  .part-heading, .section-heading {
    text-transform: uppercase;
    font-weight: 700;
  }

  .article-heading {
    font-weight: 700;
    text-decoration: underline;
  }

  ol {
    counter-reset: list;
  }
  ol > li {
    list-style: none;
  }

  ol > li:before {
    content: "(" counter(list, lower-alpha) ") ";
    counter-increment: list;
  }

  .second-level {
    ol > li:before {
      content: "(" counter(list, decimal) ") ";
      counter-increment: list;
    }
  }

}

.states {
        fill: #aaa;
        stroke: #fff;
        stroke-width: 0.75px;
}
#container {
  margin:2%;
  padding:20px;
  border:2px solid #d0d0d0;
  border-radius: 5px;
}
