<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="utilities.css" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <link rel="stylesheet" type="text/css" href="map.css">
    <script src="d3.min.js" type="text/javascript"></script>
    <script src="colorbrewer.js" type="text/javascript"></script>
    <script src="underscore-min.js" type="text/javascript"></script>
    <script src="queue.min.js" type="text/javascript"></script>
    <script src="topojson.min.js" type="text/javascript"></script>
    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="tooltip.js" type="text/javascript"></script>
    <script src="highlight.pack.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container">

      <div id="map"></div>

      <!-- <script type="x-jst" id="tooltip-template">
        <h5><%= Name %></h5>
        <p><%= Law %> have a BA degree or higher.</p>
      </script> -->

      <script type="text/javascript" src="map.js"></script>

    </div>
  </body>

</html>
